        <footer id="footer" class="container footer">
            <div class="row">
                <div class="col-sm-3">
                    Soona
                    <a href="https://twitter.com/gishtah" target="_blank">
                        <img src="images/twitter.png" alt="Twitter"/>
                    </a>
                    <a href="https://github.com/SoonaMata" target="_blank">
                        <img src="images/github.png" alt="GitHub"/>
                    </a>
                </div>
                <div class="col-sm-3">
                    TaLea
                    <a href="https://twitter.com/TaleaCarpenter" target="_blank">
                        <img src="images/twitter.png" alt="Twitter"/>
                    </a>
                    <a href="https://github.com/TaLeaMonet" target="_blank">
                        <img src="images/github.png" alt="GitHub"/>
                    </a>
                </div>
                <div class="col-sm-3">
                    Zhenzhen
                    <a href="https://twitter.com/zhenzhen_you" target="_blank">
                        <img src="images/twitter.png" alt="Twitter"/>
                    </a>
                    <a href="https://github.com/zzyou" target="_blank">
                        <img src="images/github.png" alt="GitHub"/>
                    </a>
                </div>
                <div class="col-sm-3">
                    &copy; 2018 Soona/TaLea/Zhenzhen        
                </div>
            </div>
        </footer>

        <script type= "text/javascript" src="./js/scripts.js">
        </script>

    </body>

</html>