        <footer class="container footer">
            <div class="row">
            <p class="col-sm-3" id="copyright" color:"pink" >&copy; 2018</p>
            <p class="col-sm-1" color:"orange">
                Zhenzhen:
            </p>
                <li class="col-sm-1">
                    <a href="https://twitter.com/zhenzhen_you" target="_blank">
                    <img src="images/twitter.png" alt="Twitter"/></a>
                </li>
                <li class="col-sm-1">
                    <a href="https://github.com/zzyou" target="_blank">
                    <img src="images/github.png" alt="GitHub"/></a>
                </li>
                <p class="col-sm-1">
                    TaLea:
                </p>
                <li class="col-sm-1">
                    <a href="https://twitter.com/TaleaCarpenter" target="_blank">
                    <img src="images/twitter.png" alt="Twitter"/></a>
                </li>
                <li class="col-sm-1">
                    <a href="https://github.com/TaLeaMonet" target="_blank">
                    <img src="images/github.png" alt="GitHub"/></a>
                </li>

                <p class="col-sm-1">
                    Soona:
                </p>
                <li class="col-sm-1">
                    <a href="https://twitter.com/gishtah" target="_blank">
                            <img src="images/twitter.png" alt="Twitter"/></a>
                </li>
                <li class="col-sm-1">
                    <a href="https://github.com/SoonaMata" target="_blank">
                            <img src="images/github.png" alt="GitHub"/></a>
                </li>

            </div>
        </footer>


    <script type= "text/javascript" src="./js/scripts.js">
    </script>

    </body>

</html>