<% include partials/header %>

    <!-- Start of Navbar -->
    <nav class="navbar navbar-inverse navbar-static-top navbar-light amber lighten-4 mb-4" role="navigation">
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">WALL OF WISDOM</a>


            <!-- Collapse button -->
            <button class="navbar-toggler pull-right hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20" aria-controls="navbarSupportedContent20"
                aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent20">

                <!-- Links -->
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quotes<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </div>
    </nav>
    <!-- End of Navbar -->


    <video autoplay muted loop id="myVideo">
      <source src="images/wall.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>


    <!-- Start of Carousel of Quotes -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <% for (let j = 1; j < users.length && j < 5; j++) { %>
                            <li data-target="#carousel-example-generic" data-slide-to="<% j %>"></li>
                        <% } %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active quotes">
                          <blockquote class="blockquote">
                            <h3><%= users[users.length-1].quote %></h3>
                            <p><%= users[users.length-1].name %></p>
                          </blockquote>
                          <div class="carousel-caption">
                              <img class="heartEmpty" src="images/heartEmpty.png" alt="like?"/>
                              <img class="heartRed" src="images/heartRed.png" alt="like!"/>
                          </div>
                        </div>
                        <% for (let i = users.length-2; i >= 0 && i >= users.length-5; i--) { %>
                            <div class="item quotes">
                                <blockquote class="blockquote">
                                        <h3><%= users[i].quote %></h3>
                                        <p><%= users[i].name %></p>
                                </blockquote>
                                <div class="carousel-caption">
                                    <img class="heartEmpty" src="images/heartEmpty.png" alt="like?"/>
                                    <img class="heartRed" src="images/heartRed.png" alt="like!"/>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Carousel of Quotes -->


    <div class="container content">
      <h3>Post Your "Quote" On The WALL OF WISDOM! </h3>

      <form method="POST" action="/users/add">
        <label>Name:</label><br>
        <input type="text" name="name">
        <br><br>
        <label>Quote:</label><br>
        <input type="text" name="quote">
        <br><br>
        <input type="submit" value="Post-It!">
      </form>

    </div>

<% include partials/footer %>