body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}


/* Start of Carousel of Quotes */
.quotes {
  height: 500px;
  width: 600px;
}
.carousel-inner {
text-align: center;
position: relative;
top: 200px;
left: 200px;
padding: 50px;
}

.heartEmpty, .heartRed {
  height: 40px;
  width: 40px;
  float: right;
}

img {
  height: 40px;
  width: 40px;
}

.heartRed {
  display: none;
}
/* End of Carousel of Quotes */


/* Start of Navbar and Hamburger Icon */
.hamburger {
  margin-top: 0.2em;
  padding-top: 0.7em;
}

.animated-icon1 {
  width: 40px;
  height: 30px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* End of Navbar and Hamburger Icon */


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
}

.content {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: grey;
  width: 100%;
  padding: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 0;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
}

#myBtn:hover {
  background: blue;
  color: pink;
  font: Corsiva;
}
.item {
  text-align: center;
  position: inherit;
}
